body{
text-align: center;
background-color: darkgray;
}
a{
font-size: 20px;
font-style: normal;
}
time{
font-style: normal;
font-size: 20px;

}
p{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
padding-left: initial;
margin-top: 20px;



}



